# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/

# OS
.DS_Store

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/
